/*	
*	############################################################################################
*	
*	DIFFDASH - A Simple and Unique Admin Dashboard Template
*	---------------------------------------------------------------------
*
*	Version: 	1.0
*	Author: 	The Develovers
*	Website: 	https://www.themeineed.com
*	Copyright: 	Copyright 2017 The Develovers
*	
*	############################################################################################
*/
/* General Styles */
body {
  background-color: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #5A5A5A; }

a {
  color: #6290d0; }
  a:hover, a:focus {
    color: #437ac7;
    text-decoration: none; }

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400; }

footer {
  padding: 0 30px;
  padding-bottom: 15px;
  position: absolute;
  right: 0; }
  @media screen and (max-width: 768px) {
    footer {
      position: relative;
      text-align: center; } }

.copyright {
  margin-bottom: 0;
  font-size: 13px; }

/* Layout */
#left-sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 250px;
  height: 100%;
  float: left;
  margin-top: 50px;
  position: fixed;
  left: 0;
  border-right: 1px solid #e8e8e8;
  background-color: #f8f8f8;
  z-index: 9; }
  @media screen and (max-width: 768px) {
    #left-sidebar {
      -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      left: -250px; } }

#main-content {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 250px);
  float: right;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px; }
  @media screen and (max-width: 768px) {
    #main-content {
      width: 100%; } }

.layout-fullwidth #wrapper #left-sidebar {
  left: -250px; }
  .layout-fullwidth #wrapper #left-sidebar.ps {
    overflow: visible !important; }

.layout-fullwidth #wrapper #main-content {
  width: 100%; }

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
  height: 100%; }

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.vertical-align-middle {
  display: table-cell;
  vertical-align: middle; }

.offcanvas-active #left-sidebar {
  left: 0; }

.dashboard-section {
  margin-bottom: 50px; }

.panel-content {
  padding: 30px 15px; }
  .panel-content .heading {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8; }
    .panel-content .heading i {
      font-size: 16px;
      margin-right: 8px;
      float: left;
      position: absolute;
      top: 2px;
      left: 0;
      text-indent: 0;
      color: #c1c1c1; }

/* Navigation */
.navbar-default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  z-index: 99; }
  .navbar-default .navbar-nav > .open a.icon-menu {
    border-color: #DBDBDB;
    background-color: #F2F2F2; }
.navbar-nav {
  margin: 0;
  margin-right: 15px; }
  .navbar-nav .icon-menu {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
    border-left: 1px solid #e8e8e8; }
    .navbar-nav .icon-menu i {
      font-size: 20px; }
    .navbar-nav .icon-menu .notification-dot {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      position: middle;
      top: 12px;
      right: 12px;
      background-color: #B54D4D; }
  .navbar-nav .dropdown-menu {
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    top: 80%; }
  .navbar-nav li:last-child .icon-menu {
    border-right: 1px solid #e8e8e8; }
  .navbar-nav ul.notifications {
    padding: 0;
    border: 1px solid #ededed; }
    .navbar-nav ul.notifications li {
      border-bottom: 1px solid #e8e8e8; }
      .navbar-nav ul.notifications li.header, .navbar-nav ul.notifications li.footer {
        padding: 12px 20px; }
      .navbar-nav ul.notifications li:last-child {
        border-bottom: none; }
      .navbar-nav ul.notifications li.footer a {
        display: inline;
        padding: 0;
        text-decoration: underline;
        color: #5c8ed4; }
        .navbar-nav ul.notifications li.footer a:hover, .navbar-nav ul.notifications li.footer a:focus {
          text-decoration: none; }
      .navbar-nav ul.notifications li i {
        font-size: 24px; }
      .navbar-nav ul.notifications li > a {
        padding: 23px 15px;
        color: #5A5A5A; }
        .navbar-nav ul.notifications li > a:hover, .navbar-nav ul.notifications li > a:focus {
          background-color: #f9f9f9; }
      .navbar-nav ul.notifications li .text {
        margin-bottom: 0; }
      .navbar-nav ul.notifications li .timestamp {
        font-size: 13px;
        color: #9A9A9A; }
  .navbar-nav ul.user-menu {
    padding: 20px 0; }
    .navbar-nav ul.user-menu > li.menu-heading {
      padding: 25px 20px 5px 20px;
      font-weight: 700; }
    .navbar-nav ul.user-menu > li:first-child {
      padding-top: 0; }
    .navbar-nav ul.user-menu > li > a:hover, .navbar-nav ul.user-menu > li > a:focus {
      background: none;
      text-decoration: underline; }
    .navbar-nav ul.user-menu .help-search-form {
      margin: 0 20px; }
    .navbar-nav ul.user-menu .menu-button {
      text-align: center;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px; }
      .navbar-nav ul.user-menu .menu-button .btn {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 8px 30px;
        font-size: 14px;
        font-weight: 700;
        color: #fff !important; }
        .navbar-nav ul.user-menu .menu-button .btn:hover, .navbar-nav ul.user-menu .menu-button .btn:focus {
          background-color: #5086d1;
          text-decoration: none; }
    .navbar-nav ul.user-menu.menu-icon > li > a {
      padding-top: 8px;
      padding-bottom: 8px; }
      .navbar-nav ul.user-menu.menu-icon > li > a i {
        margin-right: 5px; }
      .navbar-nav ul.user-menu.menu-icon > li > a:hover, .navbar-nav ul.user-menu.menu-icon > li > a:focus {
        text-decoration: none; }
        .navbar-nav ul.user-menu.menu-icon > li > a:hover span, .navbar-nav ul.user-menu.menu-icon > li > a:focus span {
          text-decoration: underline; }
  @media screen and (max-width: 767px) {
    .navbar-nav {
      margin-right: 0; }
      .navbar-nav > li {
        display: table-cell;
        position: inherit;
        text-align: center; }
      .navbar-nav .dropdown-menu {
        max-height: 400px;
        overflow: auto; }
      .navbar-nav .dropdown-menu > li > a {
        white-space: normal; }
      .navbar-nav .open .dropdown-menu {
        -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
        position: absolute;
        width: 100%;
        background: #fff; }
        .navbar-nav .open .dropdown-menu > li > a {
          padding: 3px 20px; }
        .navbar-nav .open .dropdown-menu.notifications > li > a {
          padding: 12px 15px; } }

.navbar-brand {
  padding: 18px 15px; }

@media screen and (max-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0; } }

@media screen and (min-width: 769px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }

.navbar-btn {
  float: left;
  padding: 0; }
  .navbar-btn button {
    font-size: 24px;
    padding: 4px 0;
    line-height: .7;
    border: none;
    background: none;
    outline: none; }
  @media screen and (max-width: 767px) {
    .navbar-btn {
      padding-left: 0; } }

#navbar-search {
  float: left;
  margin-left: 20px;
  margin-right: 20px; }
  @media screen and (max-width: 767px) {
    #navbar-search {
      display: none; } }

#navbar-menu {
  float: right; }

.btn-toggle-offcanvas {
  display: none; }
  @media screen and (max-width: 100%) {
    .btn-toggle-offcanvas {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; } }

.user-account {
  margin: 40px auto 30px auto;
  text-align: center; }
  .user-account .user-photo {
    margin: 0 auto;
    border: 5px solid #dfdede; }
  .user-account .user-name {
    display: block;
    margin-top: 12px;
    color: inherit; }
    .user-account .user-name:hover, .user-account .user-name:focus {
      text-decoration: none; }

.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .sidebar-nav .metismenu > li {
    padding-bottom: 10px; }
    .sidebar-nav .metismenu > li a {
      border-left: 5px solid transparent; }
    .sidebar-nav .metismenu > li.active > a {
      border-left-color: #5c8ed4;
      background-color: #f1f1f1; }
    .sidebar-nav .metismenu > li .active a {
      font-weight: 700; }
    .sidebar-nav .metismenu > li i {
      position: relative;
      top: 1px;
      margin-right: 10px;
      font-size: 18px; }
  .sidebar-nav .metismenu > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
  .sidebar-nav .metismenu a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    display: block;
    padding: 13px 15px;
    outline-width: 0;
    color: #5A5A5A; }
  .sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 55px; }
  .sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 70px; }
  .sidebar-nav .metismenu ul.collapse a:hover, .sidebar-nav .metismenu ul.collapse a:focus {
    text-decoration: none; }
  .sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    text-decoration: none;
    background: #f1f1f1; }
  .sidebar-nav .metismenu .has-arrow::after {
    color: #b5b5b5; }

.nav-tabs > li > a {
  color: inherit;
  font-weight: 600; }
  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #f5f5f5; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fafafa;
  color: #5A5A5A; }

.tab-content {
  padding: 15px; }

.nav-tabs-colored > li.active > a, .nav-tabs-colored > li.active > a:hover, .nav-tabs-colored > li.active > a:focus {
  background-color: #f5f5f5;
  color: #5A5A5A; }

.tab-content-colored {
  background-color: #f5f5f5; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #ddd; }

.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #5A5A5A; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #5c8ed4; }

.nav-pills > li > a {
  color: inherit; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #efefef;
  color: #5A5A5A; }

.btn-toggle-fullwidth {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  right: 0;
  padding: 5px 10px;
  background: #f5f5f5;
  color: #cacaca;
  border: 1px solid #dedede;
  z-index: 99; }
  .btn-toggle-fullwidth:hover, .btn-toggle-fullwidth:focus {
    background-color: #e8e8e8;
    color: #ababab; }
  .btn-toggle-fullwidth i {
    margin: 0;
    font-size: 22px;
    vertical-align: middle; }
  @media screen and (max-width: 100%) {
    .btn-toggle-fullwidth {
      display: none; } }

/* Forms */
label {
  font-weight: 600; }

.search-form {
  position: relative;
  padding: 0; }
  .search-form .btn {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 0;
    border: none;
    color: #929292;
    background-color: transparent; }
    .search-form .btn:hover, .search-form .btn:focus {
      background-color: inherit;
      border-left: none;
      border-color: inherit; }

/* fancy checkbox and radio button */
.fancy-checkbox {
  margin-right: 10px; }
  .fancy-checkbox,
  .fancy-checkbox label {
    font-weight: normal; }
  .fancy-checkbox input[type="checkbox"] {
    display: none; }
    .fancy-checkbox input[type="checkbox"] + span {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      cursor: pointer;
      position: relative; }
      .fancy-checkbox input[type="checkbox"] + span:before {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        bottom: 1px;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        content: "";
        border: 1px solid #ccc; }
    .fancy-checkbox input[type="checkbox"]:checked + span:before {
      font-family: FontAwesome;
      content: '\f00c';
      font-size: 12px;
      color: #99a1a7;
      text-align: center;
      line-height: 16px;
      background: #ededed;
      border: 1px solid #ccc; }
  .fancy-checkbox.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53D76A;
    background-color: #fff; }
  .fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53D76A;
    border-color: #32cf4d; }

.fancy-radio {
  margin-right: 10px; }
  .fancy-radio,
  .fancy-radio label {
    font-weight: normal; }
  .fancy-radio input[type="radio"] {
    display: none; }
    .fancy-radio input[type="radio"] + span {
      display: block;
      cursor: pointer;
      position: relative; }
      .fancy-radio input[type="radio"] + span i {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: relative;
        bottom: 1px;
        content: "";
        border: 1px solid #ccc;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .fancy-radio input[type="radio"]:checked + span i:after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #7b848c; }
  .fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53D76A; }
  .fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53D76A; }
    .fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
      background-color: #fff; }

/* fancy checkbox and fancy radio */
.input-group-addon .fancy-radio,
.input-group-addon .fancy-checkbox {
  margin: 0;
  position: relative;
  top: 1px; }

.input-group-addon .fancy-radio input[type="radio"] + span i,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span {
  margin: 0; }
  .input-group-addon .fancy-radio input[type="radio"] + span i:before,
  .input-group-addon .fancy-checkbox input[type="checkbox"] + span:before {
    margin: 0; }

.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f9f9f9;
  border-color: #dadada;
  color: #777; }
  .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #c1c0c0; }

.help-block {
  font-size: 13px;
  color: #929292; }

/* multiselect checkbox */
.multiselect-custom + .btn-group ul.multiselect-container > li > a {
  padding: 3px 20px; }
  .multiselect-custom + .btn-group ul.multiselect-container > li > a label.checkbox {
    padding-left: 0; }
    .multiselect-custom + .btn-group ul.multiselect-container > li > a label.checkbox:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      position: relative;
      bottom: 1px;
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 1px solid #ccc;
      background-color: #fafafa; }
    .multiselect-custom + .btn-group ul.multiselect-container > li > a label.checkbox input[type="checkbox"] {
      display: none; }

.multiselect-custom + .btn-group ul.multiselect-container > li.active > a label.checkbox:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 12px;
  color: #99A1A7;
  text-align: center;
  line-height: 15px;
  background-color: #EDEDED; }

/* multiselect radio */
.multiselect-custom + .btn-group ul.multiselect-container > li > a label.radio {
  padding-left: 0; }
  .multiselect-custom + .btn-group ul.multiselect-container > li > a label.radio:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    bottom: 1px;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa; }
  .multiselect-custom + .btn-group ul.multiselect-container > li > a label.radio input[type="radio"] {
    display: none; }

.multiselect-custom + .btn-group ul.multiselect-container > li.active > a label.radio:before {
  font-family: FontAwesome;
  content: '\f111';
  color: #99a1a7;
  font-size: 8px;
  text-align: center;
  line-height: 15px; }

.multiselect-search {
  -moz-border-radius-topright: 2px !important;
  -webkit-border-top-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important; }

.btn.multiselect-clear-filter {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 2px;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background: transparent;
  z-index: 9 !important;
  outline: none; }
  .btn.multiselect-clear-filter:hover, .btn.multiselect-clear-filter:focus {
    background: transparent;
    outline: none; }

/* date picker */
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active:active {
  background-color: #5c8ed4;
  border-color: #3c78cb; }

/* parsley js */
.parsley-errors-list {
  margin-top: 8px; }
  .parsley-errors-list li {
    color: #de4848;
    font-size: 0.9em;
    margin-top: 3px; }

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  background-color: #fbf5f5;
  border-color: #efd8d8; }

.form-control.parsley-error:focus {
  border-color: #e1b3b3; }

.form-control.parsley-success:focus {
  border-color: #afd99d; }

.md-editor > textarea {
  padding: 10px; }

.dropify-wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #b9b9b9;
  border: 1px solid #e4e4e4; }
  .dropify-wrapper .dropify-preview {
    background-color: #f9f9f9; }

/* Authentication forms */
.auth-box {
  -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 600px;
  height: auto;
  margin: 0 auto;
  background-color: #fff; }
  .auth-box .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 99%;
    padding: 30px;
    vertical-align: middle; }
  .auth-box .form-auth-small .btn {
    margin-top: 20px; }
  .auth-box .form-auth-small .element-left {
    float: left; }
  .auth-box .form-auth-small .element-right {
    float: right; }
  .auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center; }
  .auth-box .lead {
    margin-top: 5px;
    font-size: 18px;
    text-align: center; }
  .auth-box .helper-text {
    font-size: 13px;
    color: #9A9A9A; }
  .auth-box .btn-signin-social {
    display: block;
    margin-bottom: 15px;
    padding: 10px 22px;
    width: 100%;
    background-color: #fff;
    border-color: #e4ecf0; }
    .auth-box .btn-signin-social:hover, .auth-box .btn-signin-social:focus {
      background-color: #fafafa; }
    .auth-box .btn-signin-social i {
      font-size: 16px;
      margin: 5px; }
  .auth-box.lockscreen {
    width: 50%;
    padding: 40px 60px; }
    .auth-box.lockscreen .logo {
      margin-bottom: 30px; }
    .auth-box.lockscreen .user {
      margin-bottom: 30px; }
      .auth-box.lockscreen .user .name {
        font-size: 18px;
        margin-top: 10px; }
  @media screen and (min-width: 1440px) {
    .auth-box.lockscreen {
      width: 35%; } }
  @media screen and (max-width: 1279px) {
    .auth-box {
      width: 90%; } }
  @media screen and (max-width: 992px) {
    .auth-box {
      width: 70%; }
      .auth-box.lockscreen {
        width: 50%;
        padding: 40px 20px; } }
  @media screen and (max-width: 640px) {
    .auth-box {
      width: 90%; }
      .auth-box .content {
        width: 95%; }
      .auth-box.lockscreen {
        width: 90%; } }

/* Buttons */
.btn {
  padding: 8px 25px; }
  .btn:focus, .btn.focus {
    outline: none; }
  .btn.active, .btn:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .btn.active:focus, .btn.active.focus, .btn:active:focus, .btn:active.focus {
      outline: none; }
  .btn i:first-child {
    margin-right: 5px; }
  .btn span:first-child {
    margin-right: 5px; }

.btn-sm {
  padding: 6px 18px; }

.btn-xs {
  padding: 3px 8px; }

.btn-primary {
  background-color: #5c8ed4;
  border-color: #5086d1; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #5086d1;
    border-color: #5086d1; }
  .btn-primary.active, .btn-primary.active:focus, .btn-primary.active.focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active.focus {
    background-color: #4c83d0;
    border-color: #4c83d0; }

.btn-default {
  color: #5A5A5A; }
  .btn-default:hover, .btn-default:focus {
    background-color: #f9f9f9;
    border-color: #dcdcdc;
    color: #5A5A5A; }
  .btn-default.active, .btn-default.active:focus, .btn-default.active.focus, .btn-default:active, .btn-default:active:focus, .btn-default:active.focus {
    background-color: #f4f4f4;
    border-color: #d2d2d2;
    color: #5A5A5A; }

.btn-default-dark {
  background-color: #acb5c1;
  border-color: #a3adba;
  color: #fff; }
  .btn-default-dark:hover, .btn-default-dark:focus {
    background-color: #9da8b6;
    border-color: #98a3b2;
    color: #fff; }
  .btn-default-dark.active, .btn-default-dark.active:focus, .btn-default-dark.active.focus, .btn-default-dark:active, .btn-default-dark:active:focus, .btn-default-dark:active.focus {
    background-color: #9da8b6;
    border-color: #98a3b2;
    color: #fff; }

.btn-info {
  background-color: #3C89DA;
  border-color: #2f81d8; }
  .btn-info:hover, .btn-info:focus {
    background-color: #2f81d8;
    border-color: #2f81d8; }
  .btn-info.active, .btn-info.active:focus, .btn-info.active.focus, .btn-info:active, .btn-info:active:focus, .btn-info:active.focus {
    background-color: #287cd4;
    border-color: #287cd4; }

.btn-success {
  background-color: #22af46;
  border-color: #20a241; }
  .btn-success:hover, .btn-success:focus {
    background-color: #20a241;
    border-color: #20a241; }
  .btn-success.active, .btn-success.active:focus, .btn-success.active.focus, .btn-success:active, .btn-success:active:focus, .btn-success:active.focus {
    background-color: #1f9e3f;
    border-color: #1f9e3f; }

.btn-warning {
  background-color: #f3ad06;
  border-color: #e9a606; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #e9a606;
    border-color: #e9a606; }
  .btn-warning.active, .btn-warning.active:focus, .btn-warning.active.focus, .btn-warning:active, .btn-warning:active:focus, .btn-warning:active.focus {
    background-color: #df9f06;
    border-color: #df9f06; }

.btn-danger {
  background-color: #de4848;
  border-color: #dc3b3b; }
  .btn-danger:hover, .btn-danger:focus {
    background-color: #dc3b3b;
    border-color: #dc3b3b; }
  .btn-danger.active, .btn-danger.active:focus, .btn-danger.active.focus, .btn-danger:active, .btn-danger:active:focus, .btn-danger:active.focus {
    background-color: #da3232;
    border-color: #da3232; }

.btn-group.open .dropdown-toggle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.open > .dropdown-toggle.btn-primary {
  background-color: #5c8ed4;
  border-color: #5086d1; }
  .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #5086d1;
    border-color: #5086d1; }

.open > .dropdown-toggle.btn-success {
  background-color: #22af46;
  border-color: #20a241; }
  .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    background-color: #20a241;
    border-color: #20a241; }

.open > .dropdown-toggle.btn-warning {
  background-color: #f3ad06;
  border-color: #e9a606; }
  .open > .dropdown-toggle.btn-warning:focus, .open > .dropdown-toggle.btn-warning:hover {
    background-color: #e9a606;
    border-color: #e9a606; }

.open > .dropdown-toggle.btn-danger {
  background-color: #de4848;
  border-color: #dc3b3b; }
  .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
    background-color: #dc3b3b;
    border-color: #dc3b3b; }

.open > .dropdown-toggle.btn-default {
  background-color: #acb5c1;
  border-color: #a3adba;
  color: #fff; }
  .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #f9f9f9;
    border-color: #dcdcdc;
    color: #5A5A5A; }

.input-group-btn > .btn {
  padding-top: 6px;
  padding-bottom: 6px; }

.action-buttons .btn {
  margin-right: 5px; }

@media screen and (max-width: 768px) {
  .action-buttons .btn {
    margin-bottom: 5px; } }

/* Elements */
.list-referrals > li {
  margin-bottom: 35px; }

.list-referrals .value {
  font-size: 20px;
  margin-right: 10px; }

.metric-inline {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  font-size: 36px;
  background-color: #f5f5f5; }
  .metric-inline i {
    display: block;
    margin-bottom: 12px;
    color: #9A9A9A; }
  .metric-inline span {
    display: block;
    font-size: 20px; }

.separator-linethrough {
  position: relative;
  margin: 30px 0;
  text-align: center; }
  .separator-linethrough span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0 10px;
    position: inherit;
    font-size: 18px;
    background-color: #fff;
    z-index: 9; }
  .separator-linethrough:after {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    content: '';
    border-top: 1px solid #f0f0f0;
    z-index: 0; }

/* toastr notification */
#toast-container > div {
  opacity: 1;
  filter: alpha(opacity=100); }
  #toast-container > div, #toast-container > div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.toast-close-button {
  opacity: 0.3;
  filter: alpha(opacity=30);
  top: -11px;
  text-shadow: none;
  color: #fff; }
  .toast-close-button:hover, .toast-close-button:focus {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.toast a {
  text-decoration: underline; }
  .toast a:hover, .toast a:focus {
    text-decoration: none;
    color: #fff; }

.toast .toast-message {
  font-size: 14px;
  line-height: 1.4; }

.toast-info {
  background-color: #5c8ed4; }
  .toast-info .toast-close-button {
    color: #2a5ba0; }

.toast-success {
  background-color: #22af46; }
  .toast-success .toast-close-button {
    color: #115a24; }

.toast-warning {
  background-color: #f3ad06; }
  .toast-warning .toast-close-button {
    color: #8f6604; }

.toast-error {
  background-color: #de4848; }
  .toast-error .toast-close-button {
    color: #8d1919; }

/* Bootstrap Elements */
/* bootstrap progress bar */
.progress {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f1f1f1; }
  .progress.wide {
    width: 60px; }
  .progress .progress-bar {
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -ms-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .progress.progress-lg {
    height: 28px; }
  .progress.progress-sm {
    height: 12px; }
  .progress.progress-xs {
    height: 5px; }
  .progress.progress-sm .progress-bar, .progress.progress-xs .progress-bar {
    text-indent: -9999px; }

.progress-bar {
  background-color: #5c8ed4; }

.progress-bar-success {
  background-color: #22af46; }

.progress-bar-warning {
  background-color: #f3ad06; }

.progress-bar-danger {
  background-color: #de4848; }

.progress-bar-info {
  background-color: #3C89DA; }

.progress-transparent.custom-color-blue {
  background-color: rgba(14, 155, 226, 0.2); }
  .progress-transparent.custom-color-blue .progress-bar {
    background-color: #0E9BE2; }

.progress-transparent.custom-color-green {
  background-color: rgba(124, 172, 37, 0.2); }
  .progress-transparent.custom-color-green .progress-bar {
    background-color: #7CAC25; }

.progress-transparent.custom-color-orange {
  background-color: rgba(255, 68, 2, 0.2); }
  .progress-transparent.custom-color-orange .progress-bar {
    background-color: #FF4402; }

.progress-transparent.custom-color-purple {
  background-color: rgba(171, 125, 246, 0.2); }
  .progress-transparent.custom-color-purple .progress-bar {
    background-color: #AB7DF6; }

.progress-transparent.custom-color-yellow {
  background-color: rgba(243, 187, 35, 0.2); }
  .progress-transparent.custom-color-yellow .progress-bar {
    background-color: #F3BB23; }

.progress-transparent.custom-color-lightseagreen {
  background-color: rgba(32, 178, 170, 0.2); }
  .progress-transparent.custom-color-lightseagreen .progress-bar {
    background-color: #20B2AA; }

.alert-success {
  color: #fff;
  background-color: #20a241;
  border-color: #1d953c; }

.alert-warning {
  color: #fff;
  background-color: #e4a206;
  border-color: #d59805; }

.alert-danger {
  color: #fff;
  background-color: #de4848;
  border-color: #dc3b3b; }

.alert-info {
  color: #fff;
  background-color: #3C89DA;
  border-color: #2f81d8; }

.alert-dismissable .close,
.alert-dismissible .close {
  color: #fff;
  text-shadow: none; }

.tooltip-inner {
  background-color: #5a5a5a; }

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100); }

.tooltip.left .tooltip-arrow {
  border-left-color: #5a5a5a; }

.tooltip.right .tooltip-arrow {
  border-right-color: #5a5a5a; }

.tooltip.top .tooltip-arrow {
  border-top-color: #5a5a5a; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #5a5a5a; }

.popover {
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  font-family: "Source Sans Pro", sans-serif;
  border-color: #ededed; }

.popover-title {
  font-weight: 600;
  background-color: #f5f5f5;
  color: #5A5A5A; }

/* accordion */
.panel-group .panel .panel-heading {
  padding: 0; }

.panel-group .panel .panel-title {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif; }

.panel-group .panel .panel-title > a {
  display: block;
  padding: 10px 15px; }
  .panel-group .panel .panel-title > a:hover, .panel-group .panel .panel-title > a:focus {
    color: inherit; }
  .panel-group .panel .panel-title > a i {
    font-size: 18px;
    margin-right: 5px; }
    .panel-group .panel .panel-title > a i.icon-collapsed {
      display: none; }
    .panel-group .panel .panel-title > a i.right {
      float: right;
      margin-right: 0; }
  .panel-group .panel .panel-title > a.collapsed .icon-expanded {
    display: none; }
  .panel-group .panel .panel-title > a.collapsed .icon-collapsed {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: baseline; }

/* paginations */
.pagination > li > a,
.pagination > li > span {
  color: #5c8ed4; }

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #7ca4dd;
  border-color: #5c8ed4;
  color: #fff; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #7ca4dd;
  border-color: #5c8ed4;
  color: #fff; }

.pagination > .active > a, .pagination > .active > span {
  background-color: #5c8ed4;
  border-color: #4880cf; }

.pagination.borderless > li > a,
.pagination.borderless > li > span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: transparent;
  margin: 0 1px; }

.pagination.borderless > li:first-child > a,
.pagination.borderless > li:first-child > span, .pagination.borderless > li:last-child > a,
.pagination.borderless > li:last-child > span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.pagination.borderless > li.active > a,
.pagination.borderless > li.active > span {
  color: #fff;
  background-color: #5c8ed4; }
  .pagination.borderless > li.active > a:hover, .pagination.borderless > li.active > a:focus,
  .pagination.borderless > li.active > span:hover,
  .pagination.borderless > li.active > span:focus {
    color: #fff;
    background-color: #5c8ed4; }

.pager li > a {
  border-color: #5c8ed4; }
  .pager li > a:hover, .pager li > a:focus {
    background-color: #5c8ed4;
    border-color: #5086d1;
    color: #fff; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  border-color: #ddd; }

/* Charts */
.number-chart {
  padding: 18px 0;
  border: 1px solid #e8e8e8;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .number-chart {
      width: auto;
      margin-bottom: 30px; } }
  .number-chart .number {
    font-weight: 600; }
    @media screen and (max-width: 640px) {
      .number-chart .number {
        float: none !important;
        text-align: center;
        height: 70px; } }
    .number-chart .number > span {
      font-size: 22px;
      line-height: 1.4; }
      .number-chart .number > span + span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        font-weight: 600;
        color: #929292; }
    .number-chart .number i {
      font-size: 12px; }
  .number-chart .mini-stat {
    margin-bottom: 15px; }
    .number-chart .mini-stat p {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 11px; }
    .number-chart .mini-stat i {
      margin-right: 2px;
      font-size: 18px;
      position: relative;
      top: 2px; }

/* sparkline chart */
#jqstooltip {
  background-color: #fff;
  border-color: #ddd;
  color: #5A5A5A; }
  #jqstooltip .jqsfield {
    color: #5A5A5A; }

/* chartist */
.ct-chart {
  position: relative; }

.ct-label {
  font-size: 1.5rem;
  color: #5A5A5A; }

.ct-series .ct-line {
  stroke-width: 3px; }

.ct-series .ct-bar {
  stroke-width: 15px; }

.ct-series .ct-point {
  stroke-width: 10px;
  stroke-linecap: circle; }

.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-point {
  stroke: #82b2f9; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie,
.ct-series-a .ct-bar {
  fill: #82b2f9; }

.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-point {
  stroke: #96c125; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie,
.ct-series-b .ct-bar {
  fill: #96c125; }

.ct-series-c .ct-line,
.ct-series-c .ct-bar,
.ct-series-c .ct-point {
  stroke: #f4c63d; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie,
.ct-series-c .ct-bar {
  fill: #f4c63d; }

.ct-series-d .ct-line,
.ct-series-d .ct-bar,
.ct-series-d .ct-point {
  stroke: #AB7DF6; }

.ct-series-d .ct-area,
.ct-series-d .ct-slice-donut-solid,
.ct-series-d .ct-slice-pie,
.ct-series-d .ct-bar {
  fill: #AB7DF6; }

.ct-series-e .ct-line,
.ct-series-e .ct-bar,
.ct-series-e .ct-point {
  stroke: #5cc196; }

.ct-series-e .ct-area,
.ct-series-e .ct-slice-donut-solid,
.ct-series-e .ct-slice-pie,
.ct-series-e .ct-bar {
  fill: #5cc196; }

.ct-series-f .ct-line,
.ct-series-f .ct-bar,
.ct-series-f .ct-point {
  stroke: #d17905; }

.ct-series-f .ct-area,
.ct-series-f .ct-slice-donut-solid,
.ct-series-f .ct-slice-pie,
.ct-series-f .ct-bar {
  fill: #d17905; }

.ct-series-g .ct-line,
.ct-series-g .ct-bar,
.ct-series-g .ct-point {
  stroke: #453d3f; }

.ct-series-g .ct-area,
.ct-series-g .ct-slice-donut-solid,
.ct-series-g .ct-slice-pie,
.ct-series-g .ct-bar {
  fill: #453d3f; }

.ct-series-h .ct-line,
.ct-series-h .ct-bar,
.ct-series-h .ct-point {
  stroke: #59922b; }

.ct-series-h .ct-area,
.ct-series-h .ct-slice-donut-solid,
.ct-series-h .ct-slice-pie,
.ct-series-h .ct-bar {
  fill: #59922b; }

.ct-series-i .ct-line,
.ct-series-i .ct-bar,
.ct-series-i .ct-point {
  stroke: #0544d3; }

.ct-series-i .ct-area,
.ct-series-i .ct-slice-donut-solid,
.ct-series-i .ct-slice-pie,
.ct-series-i .ct-bar {
  fill: #0544d3; }

.ct-series-j .ct-line,
.ct-series-j .ct-bar,
.ct-series-j .ct-point {
  stroke: #6b0392; }

.ct-series-j .ct-area,
.ct-series-j .ct-slice-donut-solid,
.ct-series-j .ct-slice-pie,
.ct-series-j .ct-bar {
  fill: #6b0392; }

.ct-series-k .ct-line,
.ct-series-k .ct-bar,
.ct-series-k .ct-point {
  stroke: #f05b4f; }

.ct-series-k .ct-area,
.ct-series-k .ct-slice-donut-solid,
.ct-series-k .ct-slice-pie,
.ct-series-k .ct-bar {
  fill: #f05b4f; }

.ct-series-l .ct-line,
.ct-series-l .ct-bar,
.ct-series-l .ct-point {
  stroke: #dda458; }

.ct-series-l .ct-area,
.ct-series-l .ct-slice-donut-solid,
.ct-series-l .ct-slice-pie,
.ct-series-l .ct-bar {
  fill: #dda458; }

.ct-series-m .ct-line,
.ct-series-m .ct-bar,
.ct-series-m .ct-point {
  stroke: #eacf7d; }

.ct-series-m .ct-area,
.ct-series-m .ct-slice-donut-solid,
.ct-series-m .ct-slice-pie,
.ct-series-m .ct-bar {
  fill: #eacf7d; }

.ct-series-n .ct-line,
.ct-series-n .ct-bar,
.ct-series-n .ct-point {
  stroke: #86797d; }

.ct-series-n .ct-area,
.ct-series-n .ct-slice-donut-solid,
.ct-series-n .ct-slice-pie,
.ct-series-n .ct-bar {
  fill: #86797d; }

.ct-series-o .ct-line,
.ct-series-o .ct-bar,
.ct-series-o .ct-point {
  stroke: #b2c326; }

.ct-series-o .ct-area,
.ct-series-o .ct-slice-donut-solid,
.ct-series-o .ct-slice-pie,
.ct-series-o .ct-bar {
  fill: #b2c326; }

.chartist-tooltip {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 3.5em;
  background: #5a5a5a;
  color: #fff; }
  .chartist-tooltip:before {
    margin-left: -8px;
    border-width: 8px;
    border-top-color: #5a5a5a; }

.ct-axis-title {
  fill: #9a9a9a; }

.ct-legend {
  position: relative;
  left: 10px;
  z-index: 10; }
  .ct-legend li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    padding-left: 18px;
    margin-bottom: 3px;
    margin-right: 20px;
    list-style-type: none; }
  .ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px; }
  .ct-legend li.inactive:before {
    background: transparent; }
  .ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0; }
  .ct-legend .ct-series-0:before {
    background-color: #82b2f9;
    border-color: #82b2f9; }
  .ct-legend .ct-series-1:before {
    background-color: #96c125;
    border-color: #96c125; }
  .ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d; }
  .ct-legend .ct-series-3:before {
    background-color: #AB7DF6;
    border-color: #AB7DF6; }
  .ct-legend .ct-series-4:before {
    background-color: #5cc196;
    border-color: #5cc196; }
  .ct-legend .ct-series-5:before {
    background-color: #d17905;
    border-color: #d17905; }
  .ct-legend .ct-series-6:before {
    background-color: #453d3f;
    border-color: #453d3f; }
  .ct-legend .ct-series-7:before {
    background-color: #59922b;
    border-color: #59922b; }
  .ct-legend .ct-series-8:before {
    background-color: #0544d3;
    border-color: #0544d3; }
  .ct-legend .ct-series-9:before {
    background-color: #6b0392;
    border-color: #6b0392; }
  .ct-legend .ct-series-10:before {
    background-color: #f05b4f;
    border-color: #f05b4f; }
  .ct-legend .ct-series-11:before {
    background-color: #dda458;
    border-color: #dda458; }
  .ct-legend .ct-series-12:before {
    background-color: #eacf7d;
    border-color: #eacf7d; }
  .ct-legend .ct-series-13:before {
    background-color: #86797d;
    border-color: #86797d; }
  .ct-legend .ct-series-14:before {
    background-color: #b2c326;
    border-color: #b2c326; }

/* social and brand colors */
/* colored icon */
.z500px-color {
  color: #0099e5 !important; }

.about-me-color {
  color: #00405d !important; }

.airbnb-color {
  color: #fd5c63 !important; }

.alphabet-color {
  color: #ed1c24 !important; }

.amazon-color {
  color: #ff9900 !important; }

.american-express-color {
  color: #002663 !important; }

.aol-color {
  color: #ff0b00 !important; }

.behance-color {
  color: #1769ff !important; }

.bing-color {
  color: #ffb900 !important; }

.bitbucket-color {
  color: #205081 !important; }

.bitly-color {
  color: #ee6123 !important; }

.blogger-color {
  color: #f57d00 !important; }

.booking-com-color {
  color: #003580 !important; }

.buffer-color {
  color: #168eea !important; }

.code-school-color {
  color: #616f67 !important; }

.codecademy-color {
  color: #f65a5b !important; }

.creative-market-color {
  color: #8ba753 !important; }

.delicious-color {
  color: #3399ff !important; }

.deviantart-color {
  color: #05cc47 !important; }

.digg-color {
  color: #005be2 !important; }

.disqus-color {
  color: #2e9fff !important; }

.django-color {
  color: #092e20 !important; }

.dribbble-color {
  color: #ea4c89 !important; }

.dropbox-color {
  color: #007ee5 !important; }

.drupal-color {
  color: #0077c0 !important; }

.elance-color {
  color: #0d69af !important; }

.envato-color {
  color: #82b541 !important; }

.etsy-color {
  color: #d5641c !important; }

.facebook-color {
  color: #3b5998 !important; }

.feedly-color {
  color: #2bb24c !important; }

.flattr-color {
  color: #f67c1a !important; }

.flickr-color {
  color: #0063dc !important; }

.flipboard-color {
  color: #e12828 !important; }

.flixster-color {
  color: #2971b2 !important; }

.foursquare-color {
  color: #0732a2 !important; }

.github-color {
  color: #333333 !important; }

.google-color {
  color: #4285f4 !important; }

.google-plus-color {
  color: #dc4e41 !important; }

.instagram-color {
  color: #3f729b !important; }

.kickstarter-color {
  color: #2bde73 !important; }

.kik-color {
  color: #82bc23 !important; }

.lastfm-color {
  color: #d51007 !important; }

.line-color {
  color: #00c300 !important; }

.linkedin-color {
  color: #0077b5 !important; }

.mail-ru-color {
  color: #168de2 !important; }

.mailchimp-color {
  color: #2c9ab7 !important; }

.myspace-color {
  color: #000000 !important; }

.netflix-color {
  color: #e50914 !important; }

.ning-color {
  color: #75af42 !important; }

.path-color {
  color: #ee3423 !important; }

.patreon-color {
  color: #e6461a !important; }

.paypal-color {
  color: #003087 !important; }

.photobucket-color {
  color: #0ea0db !important; }

.pinterest-color {
  color: #bd081c !important; }

.product-hunt-color {
  color: #da552f !important; }

.quora-color {
  color: #a82400 !important; }

.rdio-color {
  color: #007dc3 !important; }

.reddit-color {
  color: #ff4500 !important; }

.rss-color {
  color: #f26522 !important; }

.salesforce-color {
  color: #1798c1 !important; }

.scribd-color {
  color: #1a7bba !important; }

.shopify-color {
  color: #96bf48 !important; }

.skype-color {
  color: #00aff0 !important; }

.slack-color {
  color: #6ecadc !important; }

.slideshare-color {
  color: #0077b5 !important; }

.soundcloud-color {
  color: #ff8800 !important; }

.spotify-color {
  color: #2ebd59 !important; }

.squarespace-color {
  color: #222222 !important; }

.stackoverflow-color {
  color: #fe7a15 !important; }

.stripe-color {
  color: #00afe1 !important; }

.stumbleupon-color {
  color: #eb4924 !important; }

.telegram-color {
  color: #0088cc !important; }

.tumblr-color {
  color: #35465c !important; }

.twitch-tv-color {
  color: #6441a5 !important; }

.twitter-color {
  color: #55acee !important; }

.vimeo-color {
  color: #162221 !important; }

.vine-color {
  color: #00b488 !important; }

.wechat-color {
  color: #7bb32e !important; }

.whatsapp-color {
  color: #43d854 !important; }

.wordpress-color {
  color: #21759b !important; }

.yahoo-color {
  color: #410093 !important; }

.youtube-color {
  color: #cd201f !important; }

/* colored background */
.z500px-bg {
  background-color: #0099e5 !important; }
  .z500px-bg:hover, .z500px-bg:focus {
    background-color: #0088cc !important; }

.about-me-bg {
  background-color: #00405d !important; }
  .about-me-bg:hover, .about-me-bg:focus {
    background-color: #002e44 !important; }

.airbnb-bg {
  background-color: #fd5c63 !important; }
  .airbnb-bg:hover, .airbnb-bg:focus {
    background-color: #fd434b !important; }

.alphabet-bg {
  background-color: #ed1c24 !important; }
  .alphabet-bg:hover, .alphabet-bg:focus {
    background-color: #de1219 !important; }

.amazon-bg {
  background-color: #ff9900 !important; }
  .amazon-bg:hover, .amazon-bg:focus {
    background-color: #e68a00 !important; }

.american-express-bg {
  background-color: #002663 !important; }
  .american-express-bg:hover, .american-express-bg:focus {
    background-color: #001c4a !important; }

.aol-bg {
  background-color: #ff0b00 !important; }
  .aol-bg:hover, .aol-bg:focus {
    background-color: #e60a00 !important; }

.behance-bg {
  background-color: #1769ff !important; }
  .behance-bg:hover, .behance-bg:focus {
    background-color: #0059fd !important; }

.bing-bg {
  background-color: #ffb900 !important; }
  .bing-bg:hover, .bing-bg:focus {
    background-color: #e6a700 !important; }

.bitbucket-bg {
  background-color: #205081 !important; }
  .bitbucket-bg:hover, .bitbucket-bg:focus {
    background-color: #1b436d !important; }

.bitly-bg {
  background-color: #ee6123 !important; }
  .bitly-bg:hover, .bitly-bg:focus {
    background-color: #e65312 !important; }

.blogger-bg {
  background-color: #f57d00 !important; }
  .blogger-bg:hover, .blogger-bg:focus {
    background-color: #dc7000 !important; }

.booking-com-bg {
  background-color: #003580 !important; }
  .booking-com-bg:hover, .booking-com-bg:focus {
    background-color: #002a67 !important; }

.buffer-bg {
  background-color: #168eea !important; }
  .buffer-bg:hover, .buffer-bg:focus {
    background-color: #1380d3 !important; }

.code-school-bg {
  background-color: #616f67 !important; }
  .code-school-bg:hover, .code-school-bg:focus {
    background-color: #55615a !important; }

.codecademy-bg {
  background-color: #f65a5b !important; }
  .codecademy-bg:hover, .codecademy-bg:focus {
    background-color: #f54243 !important; }

.creative-market-bg {
  background-color: #8ba753 !important; }
  .creative-market-bg:hover, .creative-market-bg:focus {
    background-color: #7d964b !important; }

.delicious-bg {
  background-color: #3399ff !important; }
  .delicious-bg:hover, .delicious-bg:focus {
    background-color: #1a8cff !important; }

.deviantart-bg {
  background-color: #05cc47 !important; }
  .deviantart-bg:hover, .deviantart-bg:focus {
    background-color: #04b33e !important; }

.digg-bg {
  background-color: #005be2 !important; }
  .digg-bg:hover, .digg-bg:focus {
    background-color: #0051c9 !important; }

.disqus-bg {
  background-color: #2e9fff !important; }
  .disqus-bg:hover, .disqus-bg:focus {
    background-color: #1593ff !important; }

.django-bg {
  background-color: #092e20 !important; }
  .django-bg:hover, .django-bg:focus {
    background-color: #051911 !important; }

.dribbble-bg {
  background-color: #ea4c89 !important; }
  .dribbble-bg:hover, .dribbble-bg:focus {
    background-color: #e7357a !important; }

.dropbox-bg {
  background-color: #007ee5 !important; }
  .dropbox-bg:hover, .dropbox-bg:focus {
    background-color: #0070cc !important; }

.drupal-bg {
  background-color: #0077c0 !important; }
  .drupal-bg:hover, .drupal-bg:focus {
    background-color: #0067a7 !important; }

.elance-bg {
  background-color: #0d69af !important; }
  .elance-bg:hover, .elance-bg:focus {
    background-color: #0b5b97 !important; }

.envato-bg {
  background-color: #82b541 !important; }
  .envato-bg:hover, .envato-bg:focus {
    background-color: #75a23a !important; }

.etsy-bg {
  background-color: #d5641c !important; }
  .etsy-bg:hover, .etsy-bg:focus {
    background-color: #be5919 !important; }

.facebook-bg {
  background-color: #3b5998 !important; }
  .facebook-bg:hover, .facebook-bg:focus {
    background-color: #344e86 !important; }

.feedly-bg {
  background-color: #2bb24c !important; }
  .feedly-bg:hover, .feedly-bg:focus {
    background-color: #269d43 !important; }

.flattr-bg {
  background-color: #f67c1a !important; }
  .flattr-bg:hover, .flattr-bg:focus {
    background-color: #ed6f09 !important; }

.flickr-bg {
  background-color: #0063dc !important; }
  .flickr-bg:hover, .flickr-bg:focus {
    background-color: #0058c3 !important; }

.flipboard-bg {
  background-color: #e12828 !important; }
  .flipboard-bg:hover, .flipboard-bg:focus {
    background-color: #d21d1d !important; }

.flixster-bg {
  background-color: #2971b2 !important; }
  .flixster-bg:hover, .flixster-bg:focus {
    background-color: #24649d !important; }

.foursquare-bg {
  background-color: #0732a2 !important; }
  .foursquare-bg:hover, .foursquare-bg:focus {
    background-color: #062a8a !important; }

.github-bg {
  background-color: #333333 !important; }
  .github-bg:hover, .github-bg:focus {
    background-color: #262626 !important; }

.google-bg {
  background-color: #4285f4 !important; }
  .google-bg:hover, .google-bg:focus {
    background-color: #2a75f3 !important; }

.google-plus-bg {
  background-color: #dc4e41 !important; }
  .google-plus-bg:hover, .google-plus-bg:focus {
    background-color: #d83a2b !important; }

.instagram-bg {
  background-color: #3f729b !important; }
  .instagram-bg:hover, .instagram-bg:focus {
    background-color: #386589 !important; }

.kickstarter-bg {
  background-color: #2bde73 !important; }
  .kickstarter-bg:hover, .kickstarter-bg:focus {
    background-color: #20cf67 !important; }

.kik-bg {
  background-color: #82bc23 !important; }
  .kik-bg:hover, .kik-bg:focus {
    background-color: #73a71f !important; }

.lastfm-bg {
  background-color: #d51007 !important; }
  .lastfm-bg:hover, .lastfm-bg:focus {
    background-color: #bc0e06 !important; }

.line-bg {
  background-color: #00c300 !important; }
  .line-bg:hover, .line-bg:focus {
    background-color: #00aa00 !important; }

.linkedin-bg {
  background-color: #0077b5 !important; }
  .linkedin-bg:hover, .linkedin-bg:focus {
    background-color: #00669c !important; }

.mail-ru-bg {
  background-color: #168de2 !important; }
  .mail-ru-bg:hover, .mail-ru-bg:focus {
    background-color: #147fcb !important; }

.mailchimp-bg {
  background-color: #2c9ab7 !important; }
  .mailchimp-bg:hover, .mailchimp-bg:focus {
    background-color: #2789a2 !important; }

.myspace-bg {
  background-color: #000000 !important; }
  .myspace-bg:hover, .myspace-bg:focus {
    background-color: black !important; }

.netflix-bg {
  background-color: #e50914 !important; }
  .netflix-bg:hover, .netflix-bg:focus {
    background-color: #cc0812 !important; }

.ning-bg {
  background-color: #75af42 !important; }
  .ning-bg:hover, .ning-bg:focus {
    background-color: #699c3b !important; }

.path-bg {
  background-color: #ee3423 !important; }
  .path-bg:hover, .path-bg:focus {
    background-color: #e62412 !important; }

.patreon-bg {
  background-color: #e6461a !important; }
  .patreon-bg:hover, .patreon-bg:focus {
    background-color: #d03f17 !important; }

.paypal-bg {
  background-color: #003087 !important; }
  .paypal-bg:hover, .paypal-bg:focus {
    background-color: #00276e !important; }

.photobucket-bg {
  background-color: #0ea0db !important; }
  .photobucket-bg:hover, .photobucket-bg:focus {
    background-color: #0c8ec3 !important; }

.pinterest-bg {
  background-color: #bd081c !important; }
  .pinterest-bg:hover, .pinterest-bg:focus {
    background-color: #a50718 !important; }

.product-hunt-bg {
  background-color: #da552f !important; }
  .product-hunt-bg:hover, .product-hunt-bg:focus {
    background-color: #cb4924 !important; }

.quora-bg {
  background-color: #a82400 !important; }
  .quora-bg:hover, .quora-bg:focus {
    background-color: #8f1f00 !important; }

.rdio-bg {
  background-color: #007dc3 !important; }
  .rdio-bg:hover, .rdio-bg:focus {
    background-color: #006daa !important; }

.reddit-bg {
  background-color: #ff4500 !important; }
  .reddit-bg:hover, .reddit-bg:focus {
    background-color: #e63e00 !important; }

.rss-bg {
  background-color: #f26522 !important; }
  .rss-bg:hover, .rss-bg:focus {
    background-color: #ed560e !important; }

.salesforce-bg {
  background-color: #1798c1 !important; }
  .salesforce-bg:hover, .salesforce-bg:focus {
    background-color: #1486aa !important; }

.scribd-bg {
  background-color: #1a7bba !important; }
  .scribd-bg:hover, .scribd-bg:focus {
    background-color: #176ca4 !important; }

.shopify-bg {
  background-color: #96bf48 !important; }
  .shopify-bg:hover, .shopify-bg:focus {
    background-color: #89b03e !important; }

.skype-bg {
  background-color: #00aff0 !important; }
  .skype-bg:hover, .skype-bg:focus {
    background-color: #009cd7 !important; }

.slack-bg {
  background-color: #6ecadc !important; }
  .slack-bg:hover, .slack-bg:focus {
    background-color: #59c2d7 !important; }

.slideshare-bg {
  background-color: #0077b5 !important; }
  .slideshare-bg:hover, .slideshare-bg:focus {
    background-color: #00669c !important; }

.soundcloud-bg {
  background-color: #ff8800 !important; }
  .soundcloud-bg:hover, .soundcloud-bg:focus {
    background-color: #e67a00 !important; }

.spotify-bg {
  background-color: #2ebd59 !important; }
  .spotify-bg:hover, .spotify-bg:focus {
    background-color: #29a84f !important; }

.squarespace-bg {
  background-color: #222222 !important; }
  .squarespace-bg:hover, .squarespace-bg:focus {
    background-color: #151515 !important; }

.stackoverflow-bg {
  background-color: #fe7a15 !important; }
  .stackoverflow-bg:hover, .stackoverflow-bg:focus {
    background-color: #f86c01 !important; }

.stripe-bg {
  background-color: #00afe1 !important; }
  .stripe-bg:hover, .stripe-bg:focus {
    background-color: #009bc8 !important; }

.stumbleupon-bg {
  background-color: #eb4924 !important; }
  .stumbleupon-bg:hover, .stumbleupon-bg:focus {
    background-color: #e13b15 !important; }

.telegram-bg {
  background-color: #0088cc !important; }
  .telegram-bg:hover, .telegram-bg:focus {
    background-color: #0077b3 !important; }

.tumblr-bg {
  background-color: #35465c !important; }
  .tumblr-bg:hover, .tumblr-bg:focus {
    background-color: #2c3a4c !important; }

.twitch-tv-bg {
  background-color: #6441a5 !important; }
  .twitch-tv-bg:hover, .twitch-tv-bg:focus {
    background-color: #593a93 !important; }

.twitter-bg {
  background-color: #55acee !important; }
  .twitter-bg:hover, .twitter-bg:focus {
    background-color: #3ea1ec !important; }

.vimeo-bg {
  background-color: #162221 !important; }
  .vimeo-bg:hover, .vimeo-bg:focus {
    background-color: #0c1312 !important; }

.vine-bg {
  background-color: #00b488 !important; }
  .vine-bg:hover, .vine-bg:focus {
    background-color: #009b75 !important; }

.wechat-bg {
  background-color: #7bb32e !important; }
  .wechat-bg:hover, .wechat-bg:focus {
    background-color: #6d9f29 !important; }

.whatsapp-bg {
  background-color: #43d854 !important; }
  .whatsapp-bg:hover, .whatsapp-bg:focus {
    background-color: #2ed441 !important; }

.wordpress-bg {
  background-color: #21759b !important; }
  .wordpress-bg:hover, .wordpress-bg:focus {
    background-color: #1d6586 !important; }

.yahoo-bg {
  background-color: #410093 !important; }
  .yahoo-bg:hover, .yahoo-bg:focus {
    background-color: #36007a !important; }

.youtube-bg {
  background-color: #cd201f !important; }
  .youtube-bg:hover, .youtube-bg:focus {
    background-color: #b71d1c !important; }

/* Typography */
.section-heading {
  padding: 0 15px;
  margin-bottom: 15px; }
  .section-heading .section-title {
    margin: 0;
    display: inline;
    float: left;
    font-size: 24px; }
    .section-heading .section-title i {
      margin-right: 8px; }
  .section-heading .section-subtitle {
    font-size: 13px;
    color: #9A9A9A;
    vertical-align: middle; }
  .section-heading .right {
    float: right;
    font-size: 14px; }
  @media screen and (max-width: 768px) {
    .section-heading .section-title,
    .section-heading .right {
      float: none;
      display: block; }
    .section-heading .section-title {
      margin-bottom: 10px; } }

ul.list-justify > li {
  margin-bottom: 5px; }
  ul.list-justify > li span,
  ul.list-justify > li strong {
    float: right; }

ul.list-justify.large-number > li {
  margin-bottom: 15px; }

ul.list-justify.large-number span {
  font-size: 32px;
  line-height: 1; }

.text-primary {
  color: #5c8ed4; }

.text-info {
  color: #3C89DA; }

.text-success {
  color: #22af46; }

.text-warning {
  color: #f3ad06; }

.text-danger {
  color: #de4848; }

.text-muted {
  color: #9A9A9A; }

.text-larger {
  font-size: 1.2em; }

.text-large {
  font-size: 1.53em; }

/* Helpers */
.bg-success {
  background-color: #22af46; }

.bg-warning {
  background-color: #f3ad06; }

.bg-danger {
  background-color: #de4848; }

.bg-info {
  background-color: #3C89DA; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-25 {
  padding: 25px !important; }

/* Page Error */
.page-error {
  text-align: center; }
  .page-error .vertical-align-middle {
    padding: 30px; }
  .page-error h1 {
    margin-top: 0; }
  .page-error .title {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center; }
  .page-error .number {
    font-size: 4em; }
    .page-error .number.left {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      float: left;
      text-align: right;
      margin-right: 15px; }
  .page-error .text {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    float: left;
    text-align: left;
    font-size: 1.5em;
    line-height: 1.1;
    position: relative;
    top: 24px; }
    @media screen and (max-width: 768px) {
      .page-error .text {
        margin-bottom: 40px; } }
  @media screen and (max-width: 768px) {
    .page-error .number.left,
    .page-error .text {
      display: block;
      width: 100%;
      float: none;
      text-align: center; } }
  @media screen and (max-width: 640px) {
    .page-error .number.left,
    .page-error .text {
      font-size: 1.4em; } }

/* Page Profile */
.content-profile .profile-heading {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: normal; }

.content-profile .user-photo {
  width: 90px;
  border: 2px solid #e2e2e2; }

.content-profile .profile-section {
  margin-bottom: 70px; }

.content-profile .left,
.content-profile .right {
  width: 40%; }

.content-profile .left {
  float: left; }

.content-profile .right {
  float: right; }

.content-profile .form-group {
  margin-bottom: 30px; }

.content-profile label {
  display: block; }

@media screen and (max-width: 767px) {
  .content-profile .left,
  .content-profile .right {
    float: none;
    width: 100%; } }

.plan {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 30px;
  margin-bottom: 30px;
  background-color: #FBFBFB;
  border: 1px solid #E3E3E3;
  color: #777; }
  .plan .plan-title {
    margin: 0 0 15px 0; }
    .plan .plan-title span {
      font-size: 15px;
      color: #afafaf; }
      .plan .plan-title span i {
        margin-left: 10px;
        color: #7ED321; }
  .plan.selected-plan {
    background-color: #F0FFDF;
    border: 1px solid #C3D7AE; }
  .plan .list-plan-details {
    margin-bottom: 20px; }
    .plan .list-plan-details li {
      margin-bottom: 5px; }

.payment-info .payment-name {
  margin-bottom: 12px;
  font-size: 20px; }

.payment-info .edit-payment-info {
  float: right;
  position: relative;
  top: -15px; }

.billing-history tbody > tr > td {
  padding: 25px 10px 25px 0;
  vertical-align: middle;
  border-top: none;
  border-bottom: 1px solid #e8e8e8; }

.billing-history tbody > tr:first-child > td {
  padding-top: 0; }

.billing-history tbody > tr:last-child > td {
  border-bottom: none; }

.billing-history .billing-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px; }
  .billing-history .billing-title span {
    margin-left: 10px;
    font-size: 15px; }

.billing-history .amount {
  font-size: 18px; }

.billing-history .action {
  text-align: right; }

.login-session {
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #e8e8e8; }
  .login-session .device-icon {
    font-size: 25px;
    float: left; }
  .login-session .login-info {
    padding-left: 40px; }
    .login-session .login-info .login-title {
      margin: 0 0 5px 0;
      font-size: 16px; }
    .login-session .login-info .login-detail {
      color: #9A9A9A; }
  .login-session .btn-logout {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 0;
    margin-top: -11px; }

ul.list-login-session > li:first-child .login-session {
  padding-top: 0; }

ul.list-login-session > li:last-child .login-session {
  border-bottom: none; }

ul.list-email-received > li {
  margin-bottom: 10px; }

.connected-app {
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #e8e8e8; }
  .connected-app .app-icon {
    font-size: 25px;
    float: left; }
  .connected-app .connection-info {
    padding-left: 40px; }
    .connected-app .connection-info .app-title {
      margin: 0 0 5px 0;
      font-size: 18px; }
    .connected-app .connection-info .actions a {
      margin-right: 15px; }
  .connected-app .actions {
    font-size: 14px; }

ul.list-connected-app > li:first-child .connected-app {
  padding-top: 0; }

ul.list-connected-app > li:last-child .connected-app {
  border-bottom: none; }

/*# sourceMappingURL=main.css.map */